appveyor.yml filter=lfs diff=lfs merge=lfs -text
readme.md filter=lfs diff=lfs merge=lfs -text
setversion.py filter=lfs diff=lfs merge=lfs -text
tinyxml2 filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
resources filter=lfs diff=lfs merge=lfs -text
contrib filter=lfs diff=lfs merge=lfs -text
dox filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
Config.cmake.in filter=lfs diff=lfs merge=lfs -text
xmltest.cpp filter=lfs diff=lfs merge=lfs -text
premake5.lua filter=lfs diff=lfs merge=lfs -text
run-tinyxml2-tests-on-android.sh filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
tinyxml2.pc.in filter=lfs diff=lfs merge=lfs -text
biicode.conf filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
TinyXML2_small.png filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
tinyxml2.cpp filter=lfs diff=lfs merge=lfs -text
tinyxml2.h filter=lfs diff=lfs merge=lfs -text
cmake_uninstall.cmake.in filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
